//! **************************************************************************
// Written by: Map J.36 on Fri May 30 02:54:02 2014
//! **************************************************************************

SCHEMATIC START;
COMP "PE" LOCATE = SITE "P147" LEVEL 1;
COMP "DBOUT<0>" LOCATE = SITE "P139" LEVEL 1;
COMP "DBOUT<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "DBOUT<2>" LOCATE = SITE "P137" LEVEL 1;
COMP "DBOUT<3>" LOCATE = SITE "P138" LEVEL 1;
COMP "DBOUT<4>" LOCATE = SITE "P133" LEVEL 1;
COMP "DBOUT<5>" LOCATE = SITE "P135" LEVEL 1;
COMP "DBOUT<6>" LOCATE = SITE "P131" LEVEL 1;
COMP "DBOUT<7>" LOCATE = SITE "P132" LEVEL 1;
COMP "DBin<0>" LOCATE = SITE "P191" LEVEL 1;
COMP "RD" LOCATE = SITE "P27" LEVEL 1;
COMP "DBin<1>" LOCATE = SITE "P190" LEVEL 1;
COMP "DBin<2>" LOCATE = SITE "P196" LEVEL 1;
COMP "DBin<3>" LOCATE = SITE "P194" LEVEL 1;
COMP "DBin<4>" LOCATE = SITE "P198" LEVEL 1;
COMP "RXD" LOCATE = SITE "P176" LEVEL 1;
COMP "DBin<5>" LOCATE = SITE "P197" LEVEL 1;
COMP "DBin<6>" LOCATE = SITE "P200" LEVEL 1;
COMP "DBin<7>" LOCATE = SITE "P199" LEVEL 1;
COMP "DBin<8>" LOCATE = SITE "P5" LEVEL 1;
COMP "DBin<9>" LOCATE = SITE "P7" LEVEL 1;
COMP "RDA" LOCATE = SITE "P181" LEVEL 1;
COMP "RST" LOCATE = SITE "P28" LEVEL 1;
COMP "OE" LOCATE = SITE "P150" LEVEL 1;
COMP "FE" LOCATE = SITE "P149" LEVEL 1;
COMP "CLK" LOCATE = SITE "P76" LEVEL 1;
COMP "DBin<10>" LOCATE = SITE "P3" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
